@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  color: #78A083
}

.body {
  background-color: white;
  padding: 0;
}

.header {
  align-self: center;
  justify-self: center;
  display: flex;
  width: 60%;
  // background-color: #344955;
  background-color: white;
  padding: 1em;
  justify-content: center;
  align-items: center;
  margin: 3px auto;
  border-radius: 0.3em;
}

.loginButton {
  position: absolute;
  color: white;
  border: none;
  border-radius: 0.3em;
  width: 5em;
  height: 2em;
  background: #344955;
  background: linear-gradient(to right bottom, #78A083, #344955);
  margin: 3px;
}

.loginButton:hover {
  transform: scale(1.05);
  transition: 100ms ease-in-out;
}

.nav {
  margin-top: 0;
  height: 2em;
  width: 100%;
  // background-color: #78A083;
  background: #466368;
  background: linear-gradient(to right bottom, #78A083, #344955);
  border-radius: 6px;
}

.goalContainer {

  border: 3px solid red;
  width: 60%;
  // background-color: #344955;
  background-color: white;
  padding: 1em;
  justify-content: center;
  align-items: center;
  margin: 3px auto;
  border-radius: 0.3em;
  margin-top: 2em;
}
